body {
    margin: 0;
    padding: 0;
    font-family: monospace, Arial, sans-serif;
    background-color: #000;
    color: #fff;
	font-size: 16px;
}
	.background-video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
	  object-fit: cover; /* Make the video cover the entire container */	
    }
.terminal-container {
    align-items: center;
    justify-content: center;
    height: 100vh; /* Set the height to 100% of the viewport height */
    width: 100vw; /* Set the width to 100% of the viewport width */
    margin: 0;
    padding: 0;
}
.terminal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 100vh;
	width: 100vw;
	color: white;
	font-family: monospace;
	padding: 20px;
	box-sizing: border-box;
	background-color: rgba(0, 0, 0, 0.97);
}

.terminal .output pre {
    margin: 0;
    white-space: pre-wrap;
    font-family: monospace;
}

.terminal .input {
    display: flex;
    align-items: center;
    margin-top: 10px; /* Add margin to separate output and input */
}

.terminal .input input {
    background-color: transparent;
    border: none;
    color: #fff;
    font-family: monospace;
    width: 100%;
    outline: none;
	margin-left: 5px;
}

.terminal .input input::placeholder {
    color: #999;
}
.terminal .output {
    flex-grow: 1; /* Occupy remaining vertical space */
	height: 800px;
    max-height: 800px; /* Set a fixed height for the terminal output area */
    overflow-y: auto; /* Add vertical scrollbar when content overflows */
	scrollbar-width: none; /* Hide the scrollbar */
}
.terminal .output::-webkit-scrollbar {
    width: 0; /* Set the width to 0 to hide the scrollbar */
}
.terminal .output .clear-command {
    display: none;
}
.terminal .output .output-text {
    color: white;
}
.terminal .output .output-text a {
    color: #7FFF00;
	text-decoration: none;
}
.directory {
	color: #7FFF00;
}

.uk-time {
	color: #7FFF00;
}
.weather {
	color: #7FFF00;
}
.home {
    color: #7FFF00;
	text-decoration: none;
}

::selection {
	background-color: white;
	color: black;
}







/*/ HOMEPAGE /*/
